{% extends "base.html" %}
{% block content %}
<div class='row-fluid'>
    <h1 class='span8' data-file-id="{{file_obj._id}}">File {{file_obj._id}}</h1>
    <div class='pull-right'>
        <div class='btn-group'>
            <button class='btn dropdown-toggle' data-toggle='dropdown'>
                Schedule
                <span class='caret'></span>
            </button>
            <ul class='dropdown-menu'>
            {% for report_type in report_types %}
                <li>
                    <a href='#' class='remote' data-href='/files/{{file_obj._id}}/register/{{report_type[1]}}'>
                        {{report_type[0]}}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class='row-fluid'>
    <div id='report-block' class='well well-small'>
        {% for type, state in reports.items() %}
            <div>
                <strong>Type: </strong>{{type}} <span class='label'>{{state}}</span>
                {% if state == "SUCCESS" %}
                    <a href='{{url_for('load_report', file_id=file_obj._id, report_type=type)}}'>See report</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block morescripts %}
<script type='text/javascript'>
    $(function(){
        var fileId = $("h1").data('file-id');
        $(".remote").on('click', function(event){
            event.preventDefault();
            var $this = $(this);
            $.post($this.data('href'));
        });
        window.setInterval(function(){
            $.getJSON("{{url_for('view', file_id=file_obj._id)}}", function(data){
                console.log(data)
                var $reportBlock = $('#report-block');
                $reportBlock.empty();
                $.each(data,function(k, v){
                    var $strong = $("<strong />").text('Type: ');
                    var $span = $("<span class='label' />").text(v);
                    var $div = $("<div />").append($strong).append(k).append(' ').append($span)
                    if(v === "SUCCESS"){
                        $div.append(' ').append($("<a href='/reports/" + fileId  + "/" + k + "' />").text("See report"));
                    }
                    $reportBlock.append($div)
                });
            });
        }, 500);
    });
</script>
{% endblock %}
